.canvas-holder {
    -fx-background-color: #00101d;
    -fx-background-image: url(/Resources/Images/worldmap.jpg);
    -fx-background-repeat: stretch;
    -fx-background-size: 1600 900;
    -fx-background-position: center center;
}

#m_TextArea {
    -fx-text-fill: yellow;
}

#m_TextArea .content {
    -fx-background-color: #00101d;
}
